# Belongs to Airbnb Lab

### Introduction
In this lab we will continue to explore the relationships between data in different tables of a database. The Airbnb database for this lab contains four tables, `hosts`, `listings`, `locations`, and `neighborhoods`. In order to understand and analyze the data, we need to first understand the relationships between the tables. Relationships include "Has One" and "Has Many". For example, a `listing` has one host. And a `location` has many listings.

Ok, now let's begin by connecting to the database and reviewing the schema of the tables.

### Loading and Exploring Data

The data is already loaded into the sqlite database.  However if another copy is needed it is also available in the `/data` folder.

In [1]:
import sqlite3
conn = sqlite3.connect('./airbnb.db')
cursor = conn.cursor()

In [2]:
import pandas as pd
root_url = "https://raw.githubusercontent.com/data-eng-10-21/belongs-to-bnb/master/data/"
names = ['hosts', 'neighborhoods', 'locations', 'listings']
loaded_dfs = [pd.read_csv(f'{root_url}{name}.csv') for name in names]

In [3]:
for index, name in enumerate(names):
    loaded_dfs[index].to_sql(f'{name}', conn, index = False, if_exists = 'replace')

In [4]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('hosts',), ('neighborhoods',), ('locations',), ('listings',)]

In [5]:
cursor.execute('PRAGMA table_info(hosts)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'host_name', 'TEXT', 0, None, 0)]

In [6]:
cursor.execute('PRAGMA table_info(neighborhoods)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'neighbourhood_group', 'TEXT', 0, None, 0)]

In [7]:
cursor.execute('PRAGMA table_info(locations)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'longitude', 'REAL', 0, None, 0),
 (2, 'latitude', 'REAL', 0, None, 0),
 (3, 'neighborhood_id', 'INTEGER', 0, None, 0)]

In [8]:
cursor.execute('PRAGMA table_info(listings)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'host_id', 'INTEGER', 0, None, 0),
 (3, 'location_id', 'INTEGER', 0, None, 0),
 (4, 'number_of_reviews', 'INTEGER', 0, None, 0),
 (5, 'occupancy', 'INTEGER', 0, None, 0),
 (6, 'price', 'INTEGER', 0, None, 0),
 (7, 'room_type', 'TEXT', 0, None, 0),
 (8, 'host_listings_count', 'INTEGER', 0, None, 0)]

We'll start off with some basic one table queries:

* Which listing name has the highest price?

In [10]:
query = """
        SELECT name, MAX(price)
        FROM listings 
"""

cursor.execute(query)
cursor.fetchall()
# [('M', 682.0)]

[('Furnished room in Astoria apartment', 10000)]

* What is the id of the location with the lowest longitude?

In [13]:
query = """
        SELECT locations.id, MIN(longitude)
        FROM locations 
"""

cursor.execute(query)
cursor.fetchall()
# [('M', 682.0)]

[(45652, -74.24441999999999)]

* What is the greatest occupancy of a listing?

In [18]:
query = """
        SELECT name, occupancy
        FROM listings 
        ORDER BY occupancy DESC
        LIMIT 1
"""

cursor.execute(query)
cursor.fetchall()
# [('M', 682.0)]

[('Entire Apt: Spacious Studio/Loft by central park', 365)]

In [19]:
query = """
        SELECT name, MAX(occupancy)
        FROM listings 
"""

cursor.execute(query)
cursor.fetchall()
# [('M', 682.0)]

[('Entire Apt: Spacious Studio/Loft by central park', 365)]

* What is the average price of a listing?

In [21]:
query = """
        SELECT AVG(price)
        FROM listings 
        """

cursor.execute(query)
cursor.fetchall()
# [('M', 682.0)]

[(152.7206871868289,)]

* What is the count of number of hosts?

In [22]:
query = """
        SELECT COUNT(id)
        FROM hosts 
        """

cursor.execute(query)
cursor.fetchall()
# [('M', 682.0)]

[(37457,)]

### Relationships
To help us better understand the relationships, create queries below that JOIN the tables.  Before doing so, write our the relationships between each of the entities.  

> Remember that if there is a foreign key on a table, this means that the entity has one of the other table.  For example, the `neighborhood_id` on `location` means that a location has one neighborhood.

### JOINs

For the following queries, use the relationships between the tables to find the solutions

* What is the longitude and latitude of the listing of the highest price?

In [66]:
query = """
        SELECT longitude, latitude, MAX(price) as highprice
        FROM locations 
        JOIN listings ON listings.location_id = locations.id
        """
cursor.execute(query)
cursor.fetchall()
# [('M', 682.0)]

[(-73.91651, 40.7681, 10000)]

* What is the neighborhood id of the listing with the lowest price?

In [67]:
query = """
        SELECT neighborhood_id, MIN(price) as lowprice
        FROM locations 
        JOIN listings ON listings.location_id = locations.id
        """
cursor.execute(query)
cursor.fetchall()
# [('M', 682.0)]

[(6, 0)]

* What is the longitude and latitude of the listing of the lowest price?

In [64]:
query = """
        SELECT longitude, latitude, MIN(price) as lowprice
        FROM locations 
        JOIN listings ON listings.location_id = locations.id
        """
cursor.execute(query)
cursor.fetchall()
# [('M', 682.0)]

[(-73.95428000000001, 40.69023, 0)]

### Relations and GROUP BY

* What is the name of the host has the most number of reviews?

In [68]:
query = """
        SELECT host_name, SUM(number_of_reviews) total_reviwes
        FROM hosts 
        JOIN listings ON listings.host_id = hosts.id
        GROUP BY host_name
        ORDER BY total_reviwes DESC  
        LIMIT 1
        """
cursor.execute(query)
cursor.fetchall()

[('Michael', 11081)]

* What is the name of the host with the highest average listing price?

In [53]:
query = """
        SELECT host_name, avg(price) as avg_price
        FROM hosts 
        JOIN listings ON listings.host_id = hosts.id
        GROUP BY host_name
        ORDER BY avg_price DESC
        LIMIT 1
        """
cursor.execute(query)
cursor.fetchall()

[('Olson', 9999.0)]

* What is the name of the host with the lowest average listing price?

In [51]:
query = """
        SELECT host_name, avg(price) as avg_price
        FROM hosts 
        JOIN listings ON listings.host_id = hosts.id
        GROUP BY host_name
        ORDER BY avg_price ASC
        LIMIT 1
        """
cursor.execute(query)
cursor.fetchall()

[('Aymeric', 0.0)]

* What is the name of the neighborhood with the most number of locations

In [44]:
query = """
        SELECT neighborhoods.name, count(locations.id) as total_locations
        FROM neighborhoods 
        JOIN locations ON locations.neighborhood_id = neighborhoods.id
        GROUP BY neighborhoods.name
        ORDER BY total_locations DESC
        LIMIT 1
        """
cursor.execute(query)
cursor.fetchall()

[('Williamsburg', 3914)]

* What are the names of the neighborhoods with 10 locations?

In [45]:
query = """
        SELECT neighborhoods.name, count(locations.id) as total_locations
        FROM neighborhoods 
        JOIN locations ON locations.neighborhood_id = neighborhoods.id
        GROUP BY neighborhoods.name
        HAVING total_locations = 10
        """
cursor.execute(query)
cursor.fetchall()

[('Bergen Beach', 10),
 ('East Morrisania', 10),
 ('Great Kills', 10),
 ('Melrose', 10),
 ('North Riverdale', 10),
 ('Westchester Square', 10)]

The following questions will require joins of three tables

* What is the average occupancy of each neighborhood?

In [69]:
query = """
        SELECT n.name, avg(lis.occupancy) as avg_occupancy
        FROM neighborhoods n 
        JOIN locations loc ON loc.neighborhood_id = n.id
        JOIN listings lis ON lis.location_id = loc.id
        GROUP BY n.name
        ORDER BY avg_occupancy DESC
        """
cursor.execute(query)
cursor.fetchall()

[('Bay Terrace, Staten Island', 365.0),
 ('New Dorp', 365.0),
 ('Woodrow', 365.0),
 ('Downtown Brooklyn', 325.51807228915663),
 ('Morningside Heights', 321.9450867052023),
 ('Navy Yard', 316.07142857142856),
 ('Rossville', 306.0),
 ('Cobble Hill', 301.7878787878788),
 ('Stuyvesant Town', 299.8918918918919),
 ('New Springville', 299.75),
 ('Sea Gate', 299.42857142857144),
 ('Brooklyn Heights', 298.961038961039),
 ('Civic Center', 296.7307692307692),
 ('Columbia St', 295.9047619047619),
 ('Nolita', 295.1897233201581),
 ('Carroll Gardens', 293.3304721030043),
 ('Roosevelt Island', 292.4155844155844),
 ('East Village', 290.3761467889908),
 ('Williamsburg', 290.2772959183674),
 ('Boerum Hill', 287.728813559322),
 ('Prospect Heights', 287.484593837535),
 ('Greenpoint', 285.92286995515695),
 ('Vinegar Hill', 285.47058823529414),
 ('Emerson Hill', 284.2),
 ('Little Neck', 283.8),
 ('Windsor Terrace', 283.11464968152865),
 ('Greenwich Village', 282.94897959183675),
 ('South Slope', 281.23943661971833),
 ('Kensington', 281.0514285714286),
 ('West Village', 279.5403645833333),
 ('Two Bridges', 278.7638888888889),
 ('Park Slope', 276.2134387351779),
 ('Todt Hill', 276.0),
 ('Fort Greene', 274.85071574642126),
 ('Chinatown', 274.20380434782606),
 ('Melrose', 271.4),
 ('Arden Heights', 270.75),
 ('Flatbush', 270.51529790660226),
 ('Gramercy', 270.4733727810651),
 ('Clinton Hill', 269.986013986014),
 ('Prospect-Lefferts Gardens', 269.88971962616824),
 ('Bushwick', 269.44908722109534),
 ('Crown Heights', 268.97953964194375),
 ('Red Hook', 268.7974683544304),
 ('Upper West Side', 268.41653982749875),
 ('Lower East Side', 267.834248079034),
 ('Midwood', 267.1834862385321),
 ('Woodlawn', 266.72727272727275),
 ('Inwood', 266.45238095238096),
 ('Washington Heights', 266.0678531701891),
 ('East Harlem', 266.0268576544315),
 ('Battery Park City', 264.6714285714286),
 ('Breezy Point', 264.6666666666667),
 ('Little Italy', 264.6611570247934),
 ('NoHo', 263.1794871794872),
 ('Harlem', 258.4224981188864),
 ('Sunset Park', 258.35897435897436),
 ('Astoria', 255.8088888888889),
 ('SoHo', 254.64245810055866),
 ("Prince's Bay", 254.5),
 ('Westerleigh', 252.5),
 ('Upper East Side', 252.20189098998887),
 ('Chelsea', 251.00449236298292),
 ('Ridgewood', 250.5744680851064),
 ('DUMBO', 250.52777777777777),
 ('Shore Acres', 250.42857142857142),
 ('Marble Hill', 250.33333333333334),
 ('Bedford-Stuyvesant', 248.36537425955842),
 ('Ditmars Steinway', 247.2621359223301),
 ('Long Island City', 246.74301675977654),
 ('Tremont', 246.0),
 ('Brownsville', 243.672131147541),
 ('Kips Bay', 243.28297872340426),
 ('Gowanus', 242.2834008097166),
 ('Flatiron District', 241.95),
 ('Kew Gardens Hills', 240.3846153846154),
 ('Sunnyside', 239.29201101928373),
 ('Morris Park', 239.0),
 ('Tribeca', 238.4915254237288),
 ('Forest Hills', 237.26388888888889),
 ('Elmhurst', 236.60337552742615),
 ('Gravesend', 234.80882352941177),
 ('Woodside', 234.78297872340426),
 ('City Island', 233.77777777777777),
 ('Rego Park', 231.43396226415095),
 ('Soundview', 231.33333333333334),
 ('Bensonhurst', 230.16),
 ('University Heights', 229.71428571428572),
 ('Morrisania', 229.5),
 ('Mount Eden', 228.83333333333334),
 ('Fresh Meadows', 227.03125),
 ('Bergen Beach', 226.8),
 ("Hell's Kitchen", 226.1532175689479),
 ('Jamaica Hills', 224.875),
 ('Parkchester', 224.56410256410257),
 ('Grymes Hill', 223.42857142857142),
 ('College Point', 223.3684210526316),
 ('New Brighton', 222.4),
 ('Bay Ridge', 222.0709219858156),
 ('Schuylerville', 221.76923076923077),
 ('Fordham', 221.44444444444446),
 ('Fieldston', 221.25),
 ('Cambria Heights', 220.8846153846154),
 ('Dyker Heights', 220.25),
 ('Bronxdale', 219.57894736842104),
 ('Hollis', 219.21428571428572),
 ('Pelham Gardens', 218.64285714285714),
 ('Mott Haven', 218.06666666666666),
 ('Glendale', 217.72222222222223),
 ('Great Kills', 216.4),
 ('Jackson Heights', 214.72043010752688),
 ('Fort Hamilton', 214.0),
 ('Port Morris', 212.82608695652175),
 ('Ozone Park', 211.16129032258064),
 ('Longwood', 210.7741935483871),
 ('Norwood', 210.70967741935485),
 ('Mount Hope', 209.35),
 ('Van Nest', 208.63636363636363),
 ('Dongan Hills', 207.71428571428572),
 ('Midtown', 207.29644012944985),
 ('Baychester', 207.14285714285714),
 ('Kingsbridge', 207.05714285714285),
 ('Highbridge', 206.44444444444446),
 ('Castle Hill', 205.66666666666666),
 ('Concourse Village', 205.46875),
 ('Westchester Square', 205.3),
 ('Concourse', 204.96),
 ('Sheepshead Bay', 204.46341463414635),
 ('Riverdale', 204.1818181818182),
 ('Silver Lake', 203.0),
 ('Rockaway Beach', 202.57142857142858),
 ('Graniteville', 202.0),
 ('Coney Island', 201.76470588235293),
 ('Allerton', 201.33333333333334),
 ("Bull's Head", 199.33333333333334),
 ('Far Rockaway', 199.13793103448276),
 ('North Riverdale', 199.0),
 ('Flushing', 198.7488262910798),
 ('Queens Village', 198.56666666666666),
 ('Borough Park', 196.6764705882353),
 ('Cypress Hills', 196.5037037037037),
 ('East Elmhurst', 195.5081081081081),
 ('Holliswood', 195.5),
 ('Brighton Beach', 194.13333333333333),
 ('Jamaica Estates', 193.68421052631578),
 ('Olinville', 192.5),
 ('Murray Hill', 191.6783505154639),
 ('New Dorp Beach', 190.6),
 ('Rosebank', 189.85714285714286),
 ('Throgs Neck', 189.20833333333334),
 ('Whitestone', 187.72727272727272),
 ('Briarwood', 187.07142857142858),
 ('Rosedale', 187.05084745762713),
 ('Claremont Village', 185.32142857142858),
 ('East Flatbush', 184.056),
 ('South Beach', 182.125),
 ('Laurelton', 180.38888888888889),
 ('East New York', 178.46330275229357),
 ('Belle Harbor', 178.375),
 ('Maspeth', 177.4909090909091),
 ('Belmont', 177.33333333333334),
 ('Oakwood', 176.6),
 ('Arverne', 176.57142857142858),
 ('Jamaica', 176.4935064935065),
 ('Castleton Corners', 176.25),
 ('Clifton', 175.6),
 ('Bayside', 175.07692307692307),
 ('Port Richmond', 174.0),
 ('Mariners Harbor', 173.5),
 ('Financial District', 173.46370967741936),
 ('St. George', 173.25),
 ('Eltingville', 172.0),
 ('East Morrisania', 171.5),
 ('Richmond Hill', 170.06382978723406),
 ('Bath Beach', 168.88235294117646),
 ('Flatlands', 167.75903614457832),
 ('Wakefield', 167.3),
 ('Morris Heights', 166.76470588235293),
 ('Woodhaven', 164.07954545454547),
 ('Kew Gardens', 163.84375),
 ('Pelham Bay', 163.35294117647058),
 ('Theater District', 163.12847222222223),
 ('Springfield Gardens', 160.98823529411766),
 ('Douglaston', 159.375),
 ('Manhattan Beach', 159.375),
 ('Bayswater', 157.64705882352942),
 ('Huguenot', 157.0),
 ('Howard Beach', 156.5),
 ('Tompkinsville', 155.57142857142858),
 ('Middle Village', 154.0),
 ('Edenwald', 151.53846153846155),
 ('Lighthouse Hill', 149.5),
 ('Stapleton', 149.37037037037038),
 ('Bay Terrace', 142.5),
 ('Canarsie', 141.12925170068027),
 ('Williamsbridge', 140.55),
 ('Howland Hook', 139.5),
 ('St. Albans', 139.02631578947367),
 ('South Ozone Park', 138.9),
 ('Neponsit', 134.0),
 ('Clason Point', 133.71428571428572),
 ('Midland Beach', 129.0),
 ('Hunts Point', 125.83333333333333),
 ('Grant City', 124.66666666666667),
 ('Bellerose', 122.14285714285714),
 ('Unionport', 121.0),
 ('Corona', 120.828125),
 ('West Farms', 120.5),
 ('Concord', 109.42307692307692),
 ('Arrochar', 109.19047619047619),
 ('Tottenville', 97.42857142857143),
 ('Spuyten Duyvil', 95.0),
 ('West Brighton', 90.27777777777777),
 ('Randall Manor', 89.78947368421052),
 ('Edgemere', 89.72727272727273),
 ('Mill Basin', 75.0),
 ('Richmondtown', 65.0),
 ('Eastchester', 31.53846153846154),
 ('Willowbrook', 14.0),
 ('Co-op City', 1.0),
 ('Fort Wadsworth', 0.0)]

* What is the total number of reviews for each neighborhood?

In [49]:
query = """
        SELECT neighborhoods.name, sum(number_of_reviews) as total_reviews
        FROM neighborhoods 
        JOIN locations ON locations.neighborhood_id = neighborhoods.id
        JOIN listings ON listings.location_id = locations.id
        GROUP BY neighborhoods.name
        ORDER BY total_reviews DESC
        """
cursor.execute(query)
cursor.fetchall()

[('Bedford-Stuyvesant', 110352),
 ('Williamsburg', 85427),
 ('Harlem', 75962),
 ('Bushwick', 52514),
 ("Hell's Kitchen", 50227),
 ('East Village', 44670),
 ('East Harlem', 36446),
 ('Crown Heights', 36408),
 ('Upper West Side', 36058),
 ('Upper East Side', 31686),
 ('Lower East Side', 24161),
 ('Chelsea', 23641),
 ('Midtown', 19444),
 ('Greenpoint', 19429),
 ('Astoria', 19310),
 ('Washington Heights', 17161),
 ('East Elmhurst', 15107),
 ('West Village', 14885),
 ('Flushing', 14818),
 ('Park Slope', 14638),
 ('Clinton Hill', 14586),
 ('Prospect-Lefferts Gardens', 14051),
 ('Flatbush', 12787),
 ('East Flatbush', 12448),
 ('Long Island City', 12256),
 ('Prospect Heights', 10875),
 ('Fort Greene', 10608),
 ('South Slope', 10405),
 ('Chinatown', 9941),
 ('Jamaica', 9910),
 ('Sunnyside', 8070),
 ('Sunset Park', 7882),
 ('Ditmars Steinway', 7852),
 ('Ridgewood', 7778),
 ('Gowanus', 7709),
 ('Gramercy', 7682),
 ('SoHo', 7235),
 ('Financial District', 6931),
 ('East New York', 6759),
 ('Greenwich Village', 6526),
 ('Carroll Gardens', 5897),
 ('Springfield Gardens', 5873),
 ('Kips Bay', 5837),
 ('Nolita', 5634),
 ('Elmhurst', 5554),
 ('Canarsie', 5338),
 ('Jackson Heights', 5061),
 ('Woodside', 5035),
 ('Inwood', 4690),
 ('Morningside Heights', 4599),
 ('Murray Hill', 4535),
 ('Cypress Hills', 4482),
 ('Theater District', 4342),
 ('Windsor Terrace', 4324),
 ('Boerum Hill', 4295),
 ('Sheepshead Bay', 3262),
 ('Richmond Hill', 3230),
 ('Forest Hills', 3210),
 ('Kensington', 2972),
 ('Cobble Hill', 2888),
 ('Little Italy', 2799),
 ('Woodhaven', 2792),
 ('Rego Park', 2754),
 ('Bay Ridge', 2618),
 ('St. Albans', 2584),
 ('Brooklyn Heights', 2555),
 ('Mott Haven', 2542),
 ('Maspeth', 2490),
 ('Tompkinsville', 2400),
 ('Red Hook', 2263),
 ('Arverne', 2253),
 ('Borough Park', 2232),
 ('Queens Village', 2147),
 ('Two Bridges', 2129),
 ('Tribeca', 2034),
 ('St. George', 1987),
 ('South Ozone Park', 1947),
 ('Brownsville', 1912),
 ('Bensonhurst', 1845),
 ('Flatlands', 1839),
 ('Corona', 1806),
 ('Allerton', 1803),
 ('Rosedale', 1673),
 ('Midwood', 1655),
 ('Longwood', 1653),
 ('Concourse', 1643),
 ('Ozone Park', 1512),
 ('Glendale', 1459),
 ('Kingsbridge', 1435),
 ('Flatiron District', 1419),
 ('DUMBO', 1382),
 ('Rockaway Beach', 1358),
 ('Brighton Beach', 1347),
 ('Gravesend', 1336),
 ('Highbridge', 1318),
 ('Wakefield', 1279),
 ('Briarwood', 1247),
 ('Roosevelt Island', 1214),
 ('Downtown Brooklyn', 1188),
 ('Pelham Gardens', 1140),
 ('Williamsbridge', 1138),
 ('Middle Village', 1055),
 ('Fresh Meadows', 1045),
 ('Stapleton', 1036),
 ('NoHo', 994),
 ('Fordham', 956),
 ('Port Morris', 948),
 ('Bayside', 928),
 ('Parkchester', 911),
 ('Concourse Village', 807),
 ('University Heights', 779),
 ('Throgs Neck', 769),
 ('City Island', 759),
 ('Fort Hamilton', 745),
 ('Clifton', 708),
 ('Columbia St', 685),
 ('West Brighton', 656),
 ('Concord', 648),
 ('Civic Center', 637),
 ('Jamaica Estates', 596),
 ('Battery Park City', 580),
 ('Vinegar Hill', 545),
 ('Laurelton', 528),
 ('Norwood', 519),
 ('Cambria Heights', 485),
 ('Woodlawn', 484),
 ('East Morrisania', 480),
 ('Morris Heights', 465),
 ('Bronxdale', 458),
 ('Pelham Bay', 442),
 ('Soundview', 441),
 ('College Point', 439),
 ('Mount Hope', 435),
 ('Schuylerville', 423),
 ('Mount Eden', 420),
 ('Dyker Heights', 415),
 ('Manhattan Beach', 405),
 ('Far Rockaway', 374),
 ('Coney Island', 373),
 ('Bath Beach', 363),
 ('Claremont Village', 350),
 ('Randall Manor', 342),
 ('Kew Gardens', 332),
 ('Kew Gardens Hills', 331),
 ('Clason Point', 316),
 ('Baychester', 310),
 ('Arrochar', 307),
 ('Stuyvesant Town', 302),
 ('Belmont', 296),
 ('Riverdale', 293),
 ('Howard Beach', 272),
 ('Morris Park', 271),
 ('Great Kills', 264),
 ('Navy Yard', 251),
 ('Bay Terrace', 249),
 ('Whitestone', 249),
 ('Silver Lake', 237),
 ('New Springville', 235),
 ('Eltingville', 228),
 ('Tremont', 227),
 ('Rosebank', 215),
 ('Van Nest', 206),
 ('Bergen Beach', 205),
 ('New Brighton', 201),
 ('Edenwald', 200),
 ('Bayswater', 191),
 ('Morrisania', 186),
 ('North Riverdale', 182),
 ('Hunts Point', 176),
 ('Mariners Harbor', 173),
 ('Marble Hill', 168),
 ('Douglaston', 167),
 ('Huguenot', 167),
 ('Hollis', 164),
 ('Grant City', 161),
 ('Dongan Hills', 158),
 ('Eastchester', 157),
 ('Westchester Square', 155),
 ('Port Richmond', 153),
 ('Fieldston', 146),
 ('Shore Acres', 146),
 ('Tottenville', 139),
 ('Graniteville', 123),
 ('Bellerose', 118),
 ('Castle Hill', 118),
 ('Edgemere', 113),
 ('Unionport', 104),
 ('Castleton Corners', 101),
 ('South Beach', 95),
 ("Bull's Head", 92),
 ('Melrose', 90),
 ('Richmondtown', 79),
 ('Lighthouse Hill', 78),
 ('Belle Harbor', 74),
 ('Grymes Hill', 74),
 ('New Dorp Beach', 74),
 ('Spuyten Duyvil', 70),
 ('Jamaica Hills', 69),
 ('Mill Basin', 69),
 ('Emerson Hill', 56),
 ('Neponsit', 46),
 ('Howland Hook', 41),
 ('Midland Beach', 37),
 ('Co-op City', 34),
 ('Arden Heights', 31),
 ('Olinville', 30),
 ("Prince's Bay", 23),
 ('Rossville', 21),
 ('Little Neck', 19),
 ('Westerleigh', 18),
 ('Todt Hill', 16),
 ('Holliswood', 15),
 ('Sea Gate', 10),
 ('Oakwood', 9),
 ('Willowbrook', 9),
 ('West Farms', 7),
 ('Breezy Point', 5),
 ('Bay Terrace, Staten Island', 3),
 ('Fort Wadsworth', 0),
 ('New Dorp', 0),
 ('Woodrow', 0)]

* Write a query that returns the name and average listing price of each neighborhood

In [50]:
query = """
        SELECT neighborhoods.name, avg(price) as avg_price
        FROM neighborhoods 
        JOIN locations ON locations.neighborhood_id = neighborhoods.id
        JOIN listings ON listings.location_id = locations.id
        GROUP BY neighborhoods.name
        ORDER BY avg_price DESC
        """
cursor.execute(query)
cursor.fetchall()

[('Fort Wadsworth', 800.0),
 ('Woodrow', 700.0),
 ('Tribeca', 490.638418079096),
 ('Sea Gate', 487.85714285714283),
 ('Riverdale', 442.09090909090907),
 ("Prince's Bay", 409.5),
 ('Battery Park City', 367.5571428571429),
 ('Flatiron District', 341.925),
 ('Randall Manor', 336.0),
 ('NoHo', 295.71794871794873),
 ('SoHo', 287.1033519553073),
 ('Midtown', 282.7190938511327),
 ('Neponsit', 274.6666666666667),
 ('West Village', 267.6822916666667),
 ('Greenwich Village', 263.40561224489795),
 ('Chelsea', 249.73854447439354),
 ('Willowbrook', 249.0),
 ('Theater District', 248.01388888888889),
 ('Nolita', 230.13833992094862),
 ('Financial District', 225.49059139784947),
 ('Gramercy', 222.75443786982248),
 ('Little Italy', 222.06611570247935),
 ('Murray Hill', 220.95876288659792),
 ('Breezy Point', 213.33333333333334),
 ('Cobble Hill', 211.92929292929293),
 ('Upper West Side', 210.91831557584982),
 ('Brooklyn Heights', 209.06493506493507),
 ("Hell's Kitchen", 204.79417773237998),
 ('Kips Bay', 202.40851063829788),
 ('DUMBO', 196.30555555555554),
 ('Civic Center', 191.94230769230768),
 ('Upper East Side', 188.94827586206895),
 ('Vinegar Hill', 187.1764705882353),
 ('Lower East Side', 186.31284302963775),
 ('East Village', 186.0831084727469),
 ('Jamaica Estates', 182.94736842105263),
 ('Clinton Hill', 181.89335664335664),
 ('Mill Basin', 179.75),
 ('Park Slope', 176.31225296442688),
 ('Boerum Hill', 176.135593220339),
 ('Carroll Gardens', 175.91416309012877),
 ('Prospect Heights', 173.37254901960785),
 ('City Island', 173.0),
 ('Arverne', 171.7792207792208),
 ('Belle Harbor', 171.5),
 ('Stuyvesant Town', 169.1081081081081),
 ('Todt Hill', 169.0),
 ('Far Rockaway', 165.86206896551724),
 ('Columbia St', 162.95238095238096),
 ('Chinatown', 161.49728260869566),
 ('Grymes Hill', 159.14285714285714),
 ('Gowanus', 158.80161943319837),
 ('Bayside', 157.94871794871796),
 ('Lighthouse Hill', 157.5),
 ('Spuyten Duyvil', 154.75),
 ('Shore Acres', 152.71428571428572),
 ('Navy Yard', 151.64285714285714),
 ('Fort Greene', 151.37423312883436),
 ('Downtown Brooklyn', 150.34939759036143),
 ('South Slope', 146.72535211267606),
 ('Tottenville', 144.85714285714286),
 ('Greenpoint', 144.82242152466367),
 ('Bay Ridge', 144.43262411347519),
 ('Williamsburg', 143.80280612244897),
 ('Red Hook', 143.45569620253164),
 ('Bay Terrace', 142.0),
 ('Eastchester', 141.69230769230768),
 ('Eltingville', 141.66666666666666),
 ('Castleton Corners', 139.75),
 ('Windsor Terrace', 138.9936305732484),
 ('Unionport', 137.14285714285714),
 ('Holliswood', 135.75),
 ('East Harlem', 133.1987466427932),
 ('Rockaway Beach', 132.17857142857142),
 ('Jamaica Hills', 132.125),
 ('Brighton Beach', 131.93333333333334),
 ('Cypress Hills', 128.9037037037037),
 ('Long Island City', 127.46554934823091),
 ('Two Bridges', 127.06944444444444),
 ('Flatlands', 126.43373493975903),
 ('Coney Island', 123.70588235294117),
 ('Westchester Square', 122.2),
 ('West Farms', 122.0),
 ('Forest Hills', 121.625),
 ('Harlem', 118.97404063205417),
 ('Huguenot', 118.33333333333333),
 ('St. George', 118.14583333333333),
 ('Astoria', 117.18777777777778),
 ('Howard Beach', 115.4),
 ('Arrochar', 115.0),
 ('Morningside Heights', 114.78323699421965),
 ('Van Nest', 113.81818181818181),
 ('Roosevelt Island', 113.25974025974025),
 ('Sunset Park', 113.04102564102564),
 ('Clason Point', 112.76190476190476),
 ('Crown Heights', 112.480179028133),
 ('Kew Gardens Hills', 112.3076923076923),
 ('Rosebank', 111.85714285714286),
 ('Prospect-Lefferts Gardens', 110.40186915887851),
 ('Middle Village', 109.58064516129032),
 ('Bedford-Stuyvesant', 107.67824448034465),
 ('Whitestone', 107.54545454545455),
 ('Bergen Beach', 106.7),
 ('Briarwood', 105.875),
 ('Sheepshead Bay', 105.77439024390245),
 ('Pelham Bay', 105.0),
 ('Canarsie', 104.36734693877551),
 ('East Flatbush', 104.222),
 ('Manhattan Beach', 103.5),
 ('Bay Terrace, Staten Island', 102.5),
 ('New Brighton', 101.8),
 ('St. Albans', 100.82894736842105),
 ('Great Kills', 100.6),
 ('Howland Hook', 100.0),
 ('Fresh Meadows', 99.5),
 ('Bellerose', 99.35714285714286),
 ('Stapleton', 98.96296296296296),
 ('Williamsbridge', 96.75),
 ('Jamaica', 95.77056277056278),
 ('Laurelton', 95.33333333333333),
 ('Ditmars Steinway', 95.02912621359224),
 ('Edgemere', 94.72727272727273),
 ('Mariners Harbor', 94.625),
 ('Springfield Gardens', 94.23529411764706),
 ('Fort Hamilton', 93.81818181818181),
 ('Pelham Gardens', 93.60714285714286),
 ('Flushing', 93.51408450704226),
 ('Dyker Heights', 93.41666666666667),
 ('Kensington', 92.88571428571429),
 ('Flatbush', 92.21256038647343),
 ('Longwood', 91.91935483870968),
 ('Midland Beach', 91.83333333333333),
 ('Throgs Neck', 91.04166666666667),
 ('Glendale', 90.79629629629629),
 ('Port Richmond', 90.11111111111111),
 ('Washington Heights', 89.6106785317019),
 ('South Beach', 89.25),
 ('Marble Hill', 89.16666666666667),
 ('Mott Haven', 88.91666666666667),
 ('Inwood', 88.89682539682539),
 ('Hollis', 88.64285714285714),
 ('Kew Gardens', 88.375),
 ('College Point', 88.0),
 ('Allerton', 87.5952380952381),
 ('Bayswater', 87.47058823529412),
 ('Claremont Village', 87.46428571428571),
 ('Richmond Hill', 87.11702127659575),
 ('Concourse', 86.18),
 ('Wakefield', 85.58),
 ('East New York', 85.42660550458716),
 ('Ozone Park', 85.2741935483871),
 ('Woodside', 85.09787234042552),
 ('East Morrisania', 85.0),
 ('Clifton', 84.93333333333334),
 ('Sunnyside', 84.86501377410468),
 ('Bushwick', 84.80040567951319),
 ('Queens Village', 83.93333333333334),
 ('Rego Park', 83.87735849056604),
 ('Maspeth', 83.64545454545454),
 ('Morrisania', 83.44444444444444),
 ('Melrose', 83.3),
 ('Douglaston', 82.75),
 ('South Ozone Park', 82.4),
 ('Edenwald', 82.0),
 ('Bath Beach', 81.76470588235294),
 ('Cambria Heights', 81.73076923076923),
 ('Oakwood', 81.2),
 ('East Elmhurst', 81.18378378378378),
 ('Jackson Heights', 80.89784946236558),
 ('West Brighton', 80.55555555555556),
 ('Elmhurst', 80.45991561181435),
 ('Midwood', 80.33944954128441),
 ('North Riverdale', 79.9),
 ('Port Morris', 79.8913043478261),
 ('Dongan Hills', 79.42857142857143),
 ('Gravesend', 79.01470588235294),
 ('Richmondtown', 78.0),
 ('Kingsbridge', 77.92857142857143),
 ('Co-op City', 77.5),
 ('Mount Hope', 77.5),
 ('Ridgewood', 77.18439716312056),
 ('Belmont', 77.125),
 ('Morris Heights', 76.94117647058823),
 ('Rosedale', 76.69491525423729),
 ('Brownsville', 76.45901639344262),
 ('Tompkinsville', 76.19047619047619),
 ('New Springville', 76.0),
 ('Bensonhurst', 75.78666666666666),
 ('Norwood', 75.54838709677419),
 ('Baychester', 75.42857142857143),
 ('Little Neck', 75.2),
 ('Fieldston', 75.08333333333333),
 ('Rossville', 75.0),
 ('Concourse Village', 73.78125),
 ('Westerleigh', 71.5),
 ('Highbridge', 71.11111111111111),
 ('Silver Lake', 70.0),
 ('University Heights', 69.57142857142857),
 ('Fordham', 69.44444444444444),
 ('Morris Park', 69.33333333333333),
 ('Schuylerville', 69.23076923076923),
 ('Parkchester', 69.07692307692308),
 ('Graniteville', 68.66666666666667),
 ('Emerson Hill', 68.2),
 ('Arden Heights', 67.25),
 ('Woodhaven', 67.17045454545455),
 ('Olinville', 64.0),
 ('Borough Park', 63.06617647058823),
 ('Castle Hill', 63.0),
 ('Woodlawn', 60.09090909090909),
 ('Corona', 59.171875),
 ('Mount Eden', 58.5),
 ('Concord', 58.19230769230769),
 ('Grant City', 57.666666666666664),
 ('New Dorp Beach', 57.4),
 ('Bronxdale', 57.10526315789474),
 ('New Dorp', 57.0),
 ('Soundview', 53.46666666666667),
 ('Tremont', 51.54545454545455),
 ('Hunts Point', 50.5),
 ("Bull's Head", 47.333333333333336)]

### Conclusion
In this lab we worked on the "Has One" and "Has Many" relations in SQL. We began by mapping out the relations between the tables, which gave us a better idea of how we could then join them in our queries. We finished the lab by creating queries using JOIN clauses that connect the tables using these relationships.

### Resources

* [SAT Results](https://data.cityofnewyork.us/Education/2012-SAT-Results/f9bf-2cp4)
* [School District Breakdown](https://data.cityofnewyork.us/Education/School-District-Breakdowns/g3vh-kbnw)