<a href="https://colab.research.google.com/github/alextorreswa/DataEngJigsaw/blob/main/4-functions/1-saving-work-with-functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Saving our Work With Functions

### Introduction

At this point, we have learned a lot of the mechanisms to coerce and remove our data.

But if we're going to put this code to use, and build some nice projects, we'll need to store some of our procedures in functions.

### Saving our Work

In [13]:
# signature of the function, name of the function
# the scope variable (where is it accessible)
import pandas as pd

# global 
large_cities = ['nyc', 'los angelos', 'chicago']

def pull_cities():
    # local variable, dungeo
    df = pd.read_html('https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Cities/Top_100_US_Cities_Article_Classes')
    return df[0]

In [14]:
pull_cities()

    Rank            City         State  Article Status
0      1        New York      New York             NaN
1      2     Los Angeles    California             NaN
2      3         Chicago      Illinois             NaN
3      4         Houston         Texas             NaN
4      5    Philadelphia  Pennsylvania             NaN
..   ...             ...           ...             ...
95    96     Baton Rouge     Louisiana             NaN
96    97         Fremont    California             NaN
97    98        Richmond      Virginia             NaN
98    99           Boise         Idaho             NaN
99   100  San Bernardino    California             NaN

[100 rows x 4 columns]

In [15]:
large_cities

['nyc', 'los angelos', 'chicago']

In [16]:
foobar

'stop'

In [17]:
foobar = 'stop'

If we want to save code that does something, we can wrap it in a function.

> Let's just do it.  We'll explain this code later.

### Function mechanics

Working with functions involves two steps:
1. Defining our function
2. Then executing our function.

### Functions are a dungeon

There is something interesting about functions. Functions trap everything inside of them, like the walls of a dungeon.

In [18]:
def function_name():
    greeting = 'hello'
    name = 'susan'

## Back to our project

Ok, so how can this help us?  Well functions allow us to store an entire procedure, and then name that procedure.  Once written, we can largely forget about how the function works.  

All we care about is what the function does, which is execute a procedure and then throw something over the walls.

So we can think of function like our cellphone: we only need to know how the wires underneath work when something breaks.  Otherwise, we can just call the function and get an output.

> Here is our original code.

In [19]:

url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
tables = pd.read_html(url)
cities_table = tables[4]
cities = cities_table.to_dict('records')

> And here is that code wrapped in a function.

In [20]:
def gather_cities():
    url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
    tables = pd.read_html(url)
    cities_table = tables[4]
    cities = cities_table.to_dict('records')
    return cities

In [21]:
cities = gather_cities()
cities[:1]

[{'2020 land area': '300.5\xa0sq\xa0mi',
  '2020 land area.1': '778.3\xa0km2',
  '2020 population density': '29,298/sq\xa0mi',
  '2020 population density.1': '11,312/km2',
  '2020census': 8804190,
  '2021estimate': 8467513,
  '2021rank': 1,
  'Change': 'âˆ’3.82%',
  'City': 'New York[d]',
  'Location': '.mw-parser-output .geo-default,.mw-parser-output .geo-dms,.mw-parser-output .geo-dec{display:inline}.mw-parser-output .geo-nondefault,.mw-parser-output .geo-multi-punct{display:none}.mw-parser-output .longitude,.mw-parser-output .latitude{white-space:nowrap}40Â°40â€²N 73Â°56â€²W\ufeff / \ufeff40.66Â°N 73.93Â°W',
  'State[c]': 'New York'}]

> **Your turn.**

This time we'll work with the `for loop` that turns our list of dictionaries into a list of populations.  Below we'll create a new function called `get_populations`, that returns the list of the `populations`.

Do so in the following steps:

1. Start at the top of the cell, and hold down your cursor dragging until the bottom of the cell, so that the entire cell turns purple.  Then press `tab` to indent the code.

2. Now we need another line at the top to define our function.  Place your cursor touching the `p` in `populations = []` and press enter.

3. In the new line that we created above the statement `populations = []`, write the name of the function beginning with `def` and ending with `():` and named `get_populations`.  Remember that our first line **should not** be tabbed in.  In other words, the `d` of `def` should be touching the border of our gray cell. 

4. Then end your function with the return value.

In [27]:
def get_pupulations():
  populations = []

  for each_city in cities:
      city_pop = each_city['City']
      populations.append(city_pop)
  return populations

In [28]:
pops = get_pupulations()
# pops

Now do the same thing with the next block of code.  Write a function called `get_names` that returns the list of `city_names`.

In [31]:
def get_names():
  city_names = []

  for each_city in cities:
      city_name = each_city['City']
      city_names.append(city_name)
  return city_names

In [32]:
names = get_names()
names[:2]

['New York[d]', 'Los Angeles']

## Wrapping Up

When were finished with our code, our function definitions will look like the following.

In [36]:
import pandas as pd
def gather_cities():
    url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
    tables = pd.read_html(url)
    cities_table = tables[4]
    cities = cities_table.to_dict('records')
    return cities

def get_populations():
    populations = []

    for each_city in cities:
        city_pop = each_city['City']
        populations.append(city_pop)
    return populations

def get_names():
    city_names = []

    for each_city in cities:
        city_name = each_city['City']
        city_names.append(city_name)
    return city_names

And we can call all of our code in just a few lines.

In [37]:
cities = gather_cities()
pops = get_populations()
city_names = get_names()

In [38]:
pops[:2]

['New York[d]', 'Los Angeles']

In [39]:
city_names[:2]

['New York[d]', 'Los Angeles']

## Summary

In this lesson, we learned about functions.  We saw that functions allow us to save a procedure underneath the walls of a function.  We do so with the following pattern.

```python
def function_name():
    body_of_function = 'hello'
    return body_of_function + ' world'
```

Once we define the function, then we can execute the function with the `function_name()` and we are given the return value of the function.

Functions give names to our complicated code, and allow us to summarize complicated code in just a few steps.

```python
cities = gather_cities()
pops = get_populations()
city_names = get_city_names()
```

### References

Credit to [John Resig](https://johnresig.com/) for the catapult analogy, and for a bunch of other amazing things.

<right> 
<a href="https://colab.research.google.com/github/jigsawlabs-student/code-intro/blob/master/12-function-arguments.ipynb">
<img src="https://storage.cloud.google.com/curriculum-assets/curriculum-assets.nosync/mom-files/pngfuel.com.png" align="right" style="padding-right: 20px" width="10%">
    </a>
</right>

<center>
<a href="https://www.jigsawlabs.io/free" style="position: center"><img src="https://storage.cloud.google.com/curriculum-assets/curriculum-assets.nosync/mom-files/jigsaw-labs.png" width="15%" style="text-align: center"></a>
</center>

### Answers

In [ ]:
def collect_data():
    return 'data'

In [ ]:
def catapult():
    return 'slime'

In [ ]:
def get_populations():
    populations = []

    for each_city in cities:
        city_pop = each_city['2018estimate']
        populations.append(city_pop)
    return populations

In [ ]:
get_populations()[:2]

[8398748, 3990456]

In [ ]:
def get_names():
    city_names = []

    for each_city in cities:
        city_name = each_city['City']
        city_names.append(city_name)
    return city_names

In [ ]:
get_names()[:2]

['New York[d]', 'Los Angeles']