<a href="https://colab.research.google.com/github/alextorreswa/DataEngJigsaw/blob/main/4-functions/4-refactor-functions-challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Refactor with Functions Challenges

### Introduction

Let's take the code from our previous movies lab, and see if we can make our code more flexible with functions.

### Function Changes

> Load the data by pressing `shift + return` below.

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/eng-6-22/mod-1-a-data-structures/master/4-functions/imdb_movies.csv"
df = pd.read_csv(url)
movies = df.to_dict('records')

In [5]:
movies[-1]

{'budget': 25000000,
 'genre': 'Fantasy',
 'month': 12,
 'revenue': 6399,
 'runtime': 99.0,
 'title': 'The Adventurer: The Curse of the Midas Box',
 'year': 2013}

1. `movies_since`

Write a method called `movies_since` that will return only the movies after a certain year.

In [ ]:
[movie for movie in movies if movie['year'] >= 2015]

In [10]:
def movies_since(movies, year):
  return [movie for movie in movies if movie['year'] > year]

movies_since(movies, 2012)[-1]

{'budget': 25000000,
 'genre': 'Fantasy',
 'month': 12,
 'revenue': 6399,
 'runtime': 99.0,
 'title': 'The Adventurer: The Curse of the Midas Box',
 'year': 2013}

2. `find_by`

In the last lesson, we also had a `find_by_genre` method. 

```python

def find_by_genre(movies, genre_name):
    genre_name = genre_name.title()
    return [movie for movie in movies 
    if movie['genre'] == genre_name]
```

Let's say that we wanted the ability to return movies with matching year, genre, or title, etc.  Change the function to so that we return movies where checks if any attribute matches.

In [13]:
def find_by(movies, category, value):
    return [movie for movie in movies if movie[category] == value]

find_by(movies, 'year', 2016)[-1]

{'budget': 25000000,
 'genre': 'Action',
 'month': 1,
 'revenue': 1397284,
 'runtime': 98.0,
 'title': 'Jane Got a Gun',
 'year': 2016}

3. Rewrite `find_by_genre` 

Now use the `find_by` method to rewrite the `find_by_genre` method.  The `find_by_genre` method should be case insensitive.

In [14]:
def find_by_genre(movies, genre):
  return find_by(movies, 'genre', genre.title())

find_by_genre(movies, "action")[-1]

{'budget': 19000000,
 'genre': 'Action',
 'month': 4,
 'revenue': 141407024,
 'runtime': 118.0,
 'title': 'Bad Boys',
 'year': 1995}

4. `top` function

In the previous lesson, we wrote code to select the top 100 movies by revenue.

In [15]:
top_100_revenue = sorted(movies,
       key = lambda movie: movie['revenue'],
       reverse = True)[:100]

Write a method called `top` that: 
1. Returns the top 100 movies by any category
    * For example, it should work for budget as well
2. Limits to the top 100 as the default, but allows for specifying any limit.
3. Has an argument `desc` that by default is `True` and sorts from top to bottom.

In [16]:
def top(movies, category, limit, desc = True):
    return sorted(movies, 
       key = lambda movie: movie[category],
       reverse = desc)[:limit]

5. `movies_from`

What if we wanted a method that could allow us to find movies only before a year, or only after a year, or both.

In [18]:
def movies_from(before_year = float("inf"), after_year = float("-inf")):
  return [ movie for movie in movies if 
          after_year <= movie['year'] <= before_year]

Then write the code to check your work below.

In [23]:
movies_from(after_year = 2000)[-1]

{'budget': 25000000,
 'genre': 'Fantasy',
 'month': 12,
 'revenue': 6399,
 'runtime': 99.0,
 'title': 'The Adventurer: The Curse of the Midas Box',
 'year': 2013}

In [20]:
movies_from(before_year = 1990)[-1]

{'budget': 18000000,
 'genre': 'Adventure',
 'month': 5,
 'revenue': 538400000,
 'runtime': 124.0,
 'title': 'The Empire Strikes Back',
 'year': 1980}

In [22]:
movies_from(before_year = 2000, after_year = 1990)[-1]

{'budget': 23000000,
 'genre': 'Thriller',
 'month': 2,
 'revenue': 53187659,
 'runtime': 108.0,
 'title': 'Pitch Black',
 'year': 2000}

### Summary

In this lesson, we practiced making our code more flexible with functions.  Notice that to do so, we identified the values that we're hard coded and turned them into arguments.  This made our hard-coded values, and thus the functionality of our code, more flexible.