# Subqueries Lab

### Introduction

In [1]:
orders = {"headers": ["order_number", "customer_number"], "values": [[1, 1], [2, 2], [3, 3], [4, 3], [5, 1]]}

In [2]:
import pandas as pd
def build_dataframe(data):
    columns = data['headers']
    values = data['values']
    df = pd.DataFrame(values)
    df.columns = columns
    return df

In [3]:
import sqlite3

conn = sqlite3.connect('crm.db')

In [4]:
orders_df = build_dataframe(orders)

In [5]:
orders_df.to_sql('orders', conn, if_exists = 'replace', index = False)

### Viewing our Data

In [ ]:
pd.read_sql('select * from orders', conn)

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3
4             5                1

### Problem

Write an SQL query to find the customer_number for the customer or customers who have placed the largest number of orders.

In [13]:
query = """ 
        SELECT customer_number, COUNT(*) total
        FROM orders
        GROUP BY customer_number
        HAVING total = (SELECT COUNT(*) FROM orders
          GROUP BY customer_number
          ORDER BY 1 DESC
          LIMIT 1)      
        """

pd.read_sql(query, conn)

# customer_number	total
# 0	1	2
# 1	3	2

   customer_number  total
0                1      2
1                3      2

### References

[Customer largest orders](https://leetcode.com/problems/customer-placing-the-largest-number-of-orders/)