<a href="https://colab.research.google.com/github/alextorreswa/DataEngJigsaw/blob/main/5-coercing-strings/1-functions-data-structures-quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions Data Structures Quiz

### Function Warmup

Write a function that takes in a person's name and capitalizes it.

In [3]:
def capitalize_name(name):
    return name.title()

In [4]:
capitalize_name('bob')
# 'Bob'

'Bob'

In [5]:
capitalize_name('fred')
# 'Fred'

'Fred'

* Write a function that takes two numbers and divides them

In [10]:
def divide(first_number, second_number = 1):
    return first_number/second_number

In [11]:
divide(6, 2)
# 3.0

3.0

Now change the function `divide` so that when `second_number` is not defined, we divide by one.

In [12]:
divide(6)
# 6

6.0

### Loops Warmup

In [14]:
parks = ['bryant', 'central', 'battery']

* Use loops to create a list of the `capitalized_parks` where each park is capitalized.

In [15]:
capitalized_parks = [ capitalize_name(park) for park in parks]

In [16]:
capitalized_parks
# ['Bryant', 'Central', 'Battery']

['Bryant', 'Central', 'Battery']

If you did not do so above, use list comprehension to capizalize the parks.

In [17]:
capitalized_parks = [ capitalize_name(park) for park in parks]

* Working with lists of dictionaries

In [29]:
detailed_parks = [
    {'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6},
    {'name': 'Central Park', 'location': 'Uptown', 'acres': 840},
    {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
    {'name': 'Morningside Park', 'location': 'Morningside', 'acres': 30}
]

* Write a function that will add a key value pair of `'city': 'New York'` to each of the dictionaries above.

In [31]:
detailed_parks[0]['city'] = 'New York' # For one element

In [49]:
def add_city(detailed_parks):
  for detailed_park in detailed_parks:
    detailed_park['city'] = 'New York'

In [50]:
add_city(detailed_parks)

detailed_parks
# [{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6, 'city': 'New York'}, 
# {'name': 'Central Park', 'location': 'Uptown', 'acres': 840, 'city': 'New York'}, 
# {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25, 'city': 'New York'}, 
# {'name': 'Morningside Park', 'location': 'Morningside', 'acres': 30, 'city': 'New York'}]

[{'acres': 9.6,
  'city': 'New York',
  'location': 'Midtown',
  'name': 'Bryant Park'},
 {'acres': 840,
  'city': 'New York',
  'location': 'Uptown',
  'name': 'Central Park'},
 {'acres': 25,
  'city': 'New York',
  'location': 'Downtown',
  'name': 'Battery Park'},
 {'acres': 30,
  'city': 'New York',
  'location': 'Morningside',
  'name': 'Morningside Park'}]

* Then use list comprehension to create a list of park names.

In [51]:
park_names = [ detailed_park['name'] for detailed_park in detailed_parks ]
              
park_names
# ['Bryant Park', 'Central Park', 'Battery Park', 'Morningside Park']

['Bryant Park', 'Central Park', 'Battery Park', 'Morningside Park']

* Loop through each of the parks, and only add the parks that are strictly less than 30 acres.  Assign them to the list, smaller parks.

In [52]:
smaller_parks = [ detailed_park for detailed_park in detailed_parks if detailed_park['acres'] < 30 ]

smaller_parks 
# [
# {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
# {'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6} 
# ]

[{'acres': 9.6,
  'city': 'New York',
  'location': 'Midtown',
  'name': 'Bryant Park'},
 {'acres': 25,
  'city': 'New York',
  'location': 'Downtown',
  'name': 'Battery Park'}]

* Then write a function that allows you to specify provide the size of a park to select.

In [53]:
def parks_less_than(parks, size):
  return [ park for park in parks if park['acres'] < size ]

In [54]:
parks_less_than(detailed_parks, 10)
# [{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6}]

[{'acres': 9.6,
  'city': 'New York',
  'location': 'Midtown',
  'name': 'Bryant Park'}]

In [55]:
parks_less_than(detailed_parks, 50)
# [{'name': 'Bryant Park', 'location': 'Midtown', 'acres': 9.6},
#  {'name': 'Battery Park', 'location': 'Downtown', 'acres': 25},
#  {'name': 'Morningside Park', 'location': 'Morningside', 'acres': 30}]

[{'acres': 9.6,
  'city': 'New York',
  'location': 'Midtown',
  'name': 'Bryant Park'},
 {'acres': 25,
  'city': 'New York',
  'location': 'Downtown',
  'name': 'Battery Park'},
 {'acres': 30,
  'city': 'New York',
  'location': 'Morningside',
  'name': 'Morningside Park'}]

Now write a function that only returns the *names* of a park smaller than a specified size.

In [56]:
def park_name_less_than(parks, size):
  return [ park['name'] for park in parks if park['acres'] < size ]

In [57]:
park_name_less_than(detailed_parks, 10)
# ['Bryant Park']

['Bryant Park']

In [58]:
park_name_less_than(detailed_parks, 50)
# ['Bryant Park', 'Battery Park', 'Morningside Park']

['Bryant Park', 'Battery Park', 'Morningside Park']