# Power Users

We define as power users those users who bought at least 10 products. Write a query that returns for each user on which day they became a power user. That is, for each user, on which day they bought the 10th item.

The table below represents transactions. That is, each row means that the corresponding user has bought something on that date.

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-eng-10-21/interview-questions/main/ds-sql/1-power-users/query_three.csv'
df = pd.read_csv(url, index_col = 0)

In [2]:
import sqlite3

conn = sqlite3.connect('power_users.db')

In [3]:
df.to_sql('users', conn, if_exists = 'replace')

In [4]:
pd.read_sql('select * from users', conn)

       user_id                 date
0          675  2014-12-31 16:16:12
1         1967  2014-12-31 16:37:57
2           57  2014-12-31 17:05:32
3         1532  2014-12-31 17:26:25
4         1831  2014-12-31 18:20:54
...        ...                  ...
19995     1656  2015-12-30 13:18:16
19996      381  2015-12-30 14:31:49
19997     1891  2015-12-30 15:10:35
19998      977  2015-12-30 15:30:15
19999     1076  2015-12-30 15:59:38

[20000 rows x 2 columns]

We define as power users those users who bought at least 10 products. Write a query that returns for each user on which day they became a power user. That is, for each user, on which day they bought the 10th item.

In [50]:
query = """
        SELECT user_id, date
        FROM (
          SELECT user_id, date, RANK() OVER (PARTITION BY user_id ORDER BY date) rank
          FROM users )
        WHERE rank = 10
        """
pd.read_sql(query, conn)

DatabaseError: ignored

DatabaseError: ignored

### Answer

<img src="https://github.com/data-eng-10-21/interview-questions/blob/main/ds-sql/1-power-users/user-date.png?raw=1" width="40%">