# Moe's Bar Lab

### Introduction

In this lesson, we'll apply our knowledge of querying tables with has many through to ask questions of customers and bartenders at a bar.

### Loading Our Data

Then we can connect to our database with the following.

In [1]:
import sqlite3
conn = sqlite3.connect('./moes_bar.db')
cursor = conn.cursor()

Next we load our data.

In [2]:
import pandas as pd
root_url = "https://raw.githubusercontent.com/jigsawlabs-student/curriculum-images/main/has-many-through-bar/data/"
names = ['bartenders', 'customers', 'drinks', 'orders', 'ingredients', 'ingredients_drinks']
loaded_dfs = [pd.read_csv(f'{root_url}{name}.csv') for name in names]

In [3]:
for index, name in enumerate(names):
    loaded_dfs[index].to_sql(f'{name}', conn, index = False)

In [4]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('bartenders',),
 ('customers',),
 ('drinks',),
 ('orders',),
 ('ingredients',),
 ('ingredients_drinks',)]

### Exploring our Database

Now we list of all of the tables with the following.

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('bartenders',),
 ('customers',),
 ('drinks',),
 ('orders',),
 ('ingredients',),
 ('ingredients_drinks',)]

And then we can see the details of a particular table with the following.

In [8]:
cursor.execute("pragma table_info(customers)")
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'hometown', 'TEXT', 0, None, 0),
 (3, 'birthyear', 'INTEGER', 0, None, 0)]

### Making our queries

* Find the name of the youngest customer

In [15]:
youngest_customer = '''
SELECT name, birthyear
FROM customers
ORDER BY birthyear ASC
LIMIT 1
'''

cursor.execute(youngest_customer)
cursor.fetchall()
# [('lisa simpson', 2006)]

[('lisa simpson', 2006)]

In [16]:
cursor.execute("pragma table_info(drinks)")
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'calories', 'INTEGER', 0, None, 0),
 (3, 'price', 'INTEGER', 0, None, 0),
 (4, 'alcoholic', 'INTEGER', 0, None, 0)]

* Order the drinks from most to least expensive

In [17]:
cheapest_drinks = '''
SELECT name, price
FROM drinks
ORDER BY price DESC
'''

cursor.execute(cheapest_drinks)
cursor.fetchall()
# [('ice cream float', 8),
#  ('duff beer', 7),
#  ('gin and tonic', 7),
#  ('rootbeer', 6),
#  ('milkshake', 5),
#  ('egg cream soda', 3)]

[('ice cream float', 8),
 ('duff beer', 7),
 ('gin and tonic', 7),
 ('rootbeer', 6),
 ('milkshake', 5),
 ('egg cream soda', 3)]

In [21]:
cursor.execute("pragma table_info(orders)")
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'customer_id', 'INTEGER', 0, None, 0),
 (2, 'drink_id', 'INTEGER', 0, None, 0),
 (3, 'bartender_id', 'INTEGER', 0, None, 0)]

In [22]:
cursor.execute("pragma table_info(customers)")
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'hometown', 'TEXT', 0, None, 0),
 (3, 'birthyear', 'INTEGER', 0, None, 0)]

In [27]:
cheapest_drinks = 'SELECT * FROM drinks'

cursor.execute(cheapest_drinks)
cursor.fetchall()

[(1, 'egg cream soda', 80, 3, 0),
 (2, 'milkshake', 300, 5, 0),
 (3, 'rootbeer', 180, 6, 0),
 (4, 'ice cream float', 250, 8, 0),
 (5, 'duff beer', 200, 7, 1),
 (6, 'gin and tonic', 200, 7, 1)]

* Find the most expensive drink that bart simpson ordered

In [32]:
barts_orders = '''
SELECT drinks.name, drinks.price FROM orders
JOIN customers ON customers.id = orders.customer_id
JOIN drinks ON drinks.id = orders.drink_id
WHERE customers.name = 'bart simpson'
ORDER BY drinks.price DESC
LIMIT 1
'''

cursor.execute(barts_orders)
cursor.fetchall()
# [('milkshake', 5)]

[('milkshake', 5)]

* Find a list of all of the customers of moe

In [38]:
moes_customers = '''
SELECT DISTINCT customers.name FROM customers 
JOIN orders ON customers.id = orders.customer_id
'''

cursor.execute(moes_customers)
cursor.fetchall()
# [('bart simpson',), ('maggie simpson',)]

[('bart simpson',), ('maggie simpson',), ('lisa simpson',)]