# Monthly Transactions

Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

Return the result table in any order.

The query result format is in the following example.

### Loading the Data

In [1]:
import sqlite3

conn = sqlite3.connect('crm.db')

def build_dataframe(data):
    columns = data['headers']
    values = data['values']
    df = pd.DataFrame(values)
    df.columns = columns
    return df

values = [
    {
        "id": 121,
        "country": "US",
        "state": "approved",
        "amount": 1000,
        "trans_date": "2018-12-18"
    },
    {
        "id": 122,
        "country": "US",
        "state": "declined",
        "amount": 2000,
        "trans_date": "2018-12-19"
    },
    {
        "id": 123,
        "country": "US",
        "state": "approved",
        "amount": 2000,
        "trans_date": "2019-01-01"
    },
    {
        "id": 124,
        "country": "DE",
        "state": "approved",
        "amount": 2000,
        "trans_date": "2019-01-07"
    }
]

import pandas as pd
data = {"headers": ["id", "country", "state", "amount", "trans_date"], "values": values}

df = build_dataframe(data)
trans_date = pd.to_datetime(df['trans_date'])
df.assign(trans_date = trans_date)

    id country     state  amount trans_date
0  121      US  approved    1000 2018-12-18
1  122      US  declined    2000 2018-12-19
2  123      US  approved    2000 2019-01-01
3  124      DE  approved    2000 2019-01-07

In [2]:
df.to_sql('transactions', conn, 
          if_exists = 'replace', index = False)

In [3]:
pd.read_sql("select * from transactions", conn)

    id country     state  amount  trans_date
0  121      US  approved    1000  2018-12-18
1  122      US  declined    2000  2018-12-19
2  123      US  approved    2000  2019-01-01
3  124      DE  approved    2000  2019-01-07

### The Problem

Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

Return the result table in any order.

The answer is below.

In [22]:
pd.read_sql("""
select strftime('%Y-%m', trans_date) as month, country, count(amount) as trans_count, sum(case when state='approved' then 1 else 0 end) as approved_count, 
sum(amount) as trans_total, sum(case when state='approved' then amount else 0 end) as approved_amount
from transactions
group by 1, country
order by 1, 2 desc
""", conn)

     month country  trans_count  approved_count  trans_total  approved_amount
0  2018-12      US            2               1         3000             1000
1  2019-01      US            1               1         2000             2000
2  2019-01      DE            1               1         2000             2000

<img src="https://github.com/jigsawlabs-student/leet-repo/blob/main/sql/approved_amount.png?raw=1" width="100%">